
.page_404
{
    padding: 40px 0;
    background: #fff;
    font-family: 'Poppins';
}

.page_404 img
{
    width: 100%;
}

.four_zero_four_bg
{
   
    height: 400px;
    background-position: center;
}

h1.main_text
{
    font-size: 80px;
}

h3.show-text
{
    font-size: 80px;
}

a.back-home
{
    cursor: pointer;
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    background: #39ac31;
    display: inline-block;
}

.content_box_404
{
    margin-top: -50px;
}
a.back-home:hover
{
    text-decoration: none;
    color: #fff;
}